<div ng-controller="app.manager.areaAgent.areaAgency.map as vm">
    <div class="row">
        <div class="column-10">
            <div class="portlet box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-calendar"></i>@L("China")
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chinaMap" class="height-em50"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/echarts/echarts.js"></script>
<script src="~/Scripts/echarts/maps/china.js"></script>