<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body class="height-full">
    <div class="page error-page">
        <div class="error-page-header">
            <img height="24" class="logo" src="~/Content/Images/title-logo.png" />
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>