@using Application.WebSite.Models
@model ErrorModel
<section class="error-block">
    <h1 class="error-code">@Model.Code</h1>
    <div class="details">
        <div class="error-details">
            <p>@Model.Detail</p>
        </div>
    </div>
</section>