<section class="error-block">
    <h1 class="error-code">404</h1>
    <div class="details">
        <div class="error-details">
            <p>@L("WebSiteIsOff")</p>
        </div>
    </div>
</section>