<div class="row">
    <div class="column-10">
        <div class="number font-red">WebSite Is Off</div>
        <div class="details">
            <h3>@L("WebSiteIsOff")</h3>
        </div>
    </div>
</div>
