<script src="~/Scripts/highchart/highcharts.js"></script>
<script src="~/Scripts/highchart/highcharts-more.js"></script>
<script src="~/Scripts/highchart/solid-gauge.js"></script>
<div ng-controller="app.manager.host.dashboard.index as vm">
	<div class="row">
        <div class="column-2-5">
            <div id="cpuMonitor" class="height-em20"></div>
        </div>
        <div class="column-2-5">
            <div id="memMonitor" class="height-em20"></div>
        </div>
        <div class="column-2-5">
            <div id="tcpMonitor" class="height-em20"></div>
        </div>
		<div class="column-2-5">
			<div id="onlineMonitor" class="height-em20"></div>
		</div>
	</div>
</div>
