<link rel="stylesheet" href="~/Styles/App/Mobile/Address/address-selector.css" type="text/css" />
<input type="hidden" id="returnUrl" value="@ViewBag.ReturnUrl" />
<div class="ng-cloak" ng-cloak ui-view>

</div>
@Html.GetActionScripts()
<script src="~/Script/App/Mobile/Address/addressSelectorModal.js"></script>