<div class="body-nav ng-cloak" ng-cloak>
	<ul class="nav-list">
		<li>
			<a href="/Mobile/Spread/Shares">
				<img class="nav-icon" src="~/Content/Images/Common/Icon/Spread.png">
				<label class="title">@L("MyShare")</label>
			</a>
		</li>
		<li>
			<a href="/Mobile/SpreadPoster/List">
				<img class="nav-icon" src="~/Content/Images/Common/Icon/Spread.png">
				<label class="title">@L("SpreadPosterCenter")</label>
			</a>
		</li>
		<li>
			<a href="/Mobile/Spread/Qrcode">
				<img class="nav-icon" src="~/Content/Images/Common/Icon/Spread.png">
				<label class="title">@L("MyQrcode")</label>
			</a>
		</li>
	</ul>
</div>