@using Application
<footer class="page-footer mobile-page-footer">
    <p>
        <label class="copyright">© @(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</label>
    </p>
</footer>