<nav class="home-nav">
    <ul class="nav-list">
        <li ng-repeat="item in control.items">
            <img class="nav-icon" ng-src="{{item.icon}}" />
            <label class="nav-name">{{item.name}}</label>
        </li>
    </ul>
</nav>