<ul class="shopwindow clearfix">
    <li class="shopwindow-big">
        <a href="{{control.items[0].url}}">
            <img ng-src="{{control.items[0].cover}}">
        </a>
    </li>
    <li class="shopwindow-small">
        <a href="{{control.items[1].url}}">
            <img ng-src="{{control.items[1].cover}}">
        </a>
    </li>
    <li class="shopwindow-small">
        <a href="{{control.items[2].url}}">
            <img ng-src="{{control.items[2].cover}}">
        </a>
    </li>
</ul>