<div ng-controller="app.mobile.channelAgency.certificate as vm" class="ng-cloak" ng-cloak>
    <div class="padding-1">
        <img class="width-full margin-bottom-1" ng-src="{{vm.certificate}}" ng-if="vm.certificate" />
        <button class="button-text block primary" ng-click="vm.reCreate()">@L("ReCreate")</button>
    </div>
</div>