@{
    ViewBag.CurrentPageName = PageNames.Frontend.About;
}
<section>
	<img class="width-full" src="~/Content/Images/Home/About/banner.jpg"/>
</section>
<section class="margin-bottom-1 container-responsive">
    <h3 class="section-title pretty">公司介绍</h3>
    <div class="padding-1 text-center">
        <p>Canknow信息科技有限公司（Canknow）成立于2017年，是一家专做微信分销系统的科技型技术公司，公司旗下拥有核心产品“[Canknow]微信分销系统”。Canknow是腾讯第三方战略合作伙伴，为企业提供专业的移动电商整套解决方案，致力于为企业打通移动营销渠道。Canknow凭借着优质的技术、完美的售后服务、快速的功能更新以及优秀市场推广支持，已经成为全国知名的微信分销平台，业务遍布全国各地。</p>
        <p>公司拥有完善网络营销体系、专业的策划团队、专业的技术团队、客服团队能快速有效的帮助企业实现微信分销平台建设。</p>
        <p>Canknow人凭借着自己的自信和实力，开拓进取、精益求精、完善自我，现已与腾讯、CNNIC、万网、搜狐、百度、新浪等大型知名企业建立起合作关系。</p>
    </div>
</section>
<section class="container-responsive">
    <h3 class="section-title pretty">团队介绍</h3>
    <div class="text-center">
        <p>Canknow拥有了一支经验丰富的专业团队，以前瞻性的创新思维，</p>
        <p>致力于为每位客户提供行业领先的电商系统和咨询服务，Canknow发展的每一个脚步都坚定而踏实，</p>
        <p>我们将和更多客户一起探索电商未来，为客户的电商运营保驾护航。</p>
    </div>
</section>
<section>
    <div class="banner-box">
        <img src="~/Content/Images/Home/About/banner-1.jpg" />
    </div>
</section>
<section class="container-responsive">
    <ul class="row separated-columns list-unstyled">
        <li class="column-2-5">
            <div class="thumbnail">
                <img class="thumbnail-picture" src="~/Content/Images/App/Home/About/img1-large.jpg">
                <div class="thumbnail-block">
                    <h5 class="thumbnail-title">
                        <strong>Lina Doe</strong>
                        <small>Chief Executive Officer / CEO</small>
                    </h5>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                </div>
            </div>
        </li>
        <li class="column-2-5">
            <div class="thumbnail">
                <img class="thumbnail-picture" src="~/Content/Images/App/Home/About/img2-large.jpg">
                <div class="thumbnail-block">
                    <h5 class="thumbnail-title">
                        <strong>Carles Puyol</strong>
                        <small>Chief Executive Officer / CEO</small>
                    </h5>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                </div>
            </div>
        </li>
        <li class="column-2-5">
            <div class="thumbnail">
                <img class="thumbnail-picture" src="~/Content/Images/App/Home/About/img3-large.jpg">
                <div class="thumbnail-block">
                    <h5 class="thumbnail-title">
                        <strong>Andres Iniesta</strong>
                        <small>Chief Executive Officer / CEO</small>
                    </h5>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                </div>
            </div>
        </li>
        <li class="column-2-5">
            <div class="thumbnail">
                <img class="thumbnail-picture" src="~/Content/Images/App/Home/About/img4-large.jpg">
                <div class="thumbnail-block">
                    <h5 class="thumbnail-title">
                        <strong>Jessica Alba</strong>
                        <small>Chief Executive Officer / CEO</small>
                    </h5>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                </div>
            </div>
        </li>
    </ul>
</section>