/*@font-face {
  font-family: 'PingFang SC';
  src:url('/Content/WebFrame/font/pingfang-sc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
    font-family:PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
}*/