.customerInfo-list{
    padding-left:0;
    list-style-type:none;
}
.customerInfo-list li{
    font-size:12px;
    padding:1rem 1rem 0 1rem;
    background-color:#fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color:#666;
    cursor:pointer;
    margin-bottom: 1rem;
}
.customerInfo-box{
     margin-bottom:1rem;
}
.contact-info{
    margin-bottom:1rem;
}
.contact-info .phone-number{
    color: #333;
    font-size:16px;
}
.address-info{
   
}
.address-detail{
    font-size:12px;
    margin:0;
    color: #999;
}
.toolbar{
    border-top: 1px solid #eee;
    padding:0.3.2rem 0;
}