<div ng-controller="app.manager.home.index as vm">
    <div class="alert alert-info note-bordered">
        <h3>@L("WelcomePageTitle")</h3>
        <p>
            @L("WelcomePageInfo")
        </p>
    </div>
</div>