@{
    ViewBag.CurrentPageName = PageNames.Frontend.Home;
}
<section>
    <div class="banner-box">
        <img class="width-full" src="~/Content/Images/Home/Index/banner.jpg" alt="">
    </div>
</section>
<section>
	<div class="container-responsive">
		<div class="row">
			<div class="padding-1">
				<h2 class="section-title pretty">微信公众平台三级分销系统</h2>
				<p>助力传统微商快速转型、移动分销第一利器快速建立自己的微商销售平台！通过消费就能赚钱，这不是天方夜谭，而是一种最新的消费观念。以前品牌商通过传统渠道销售，铺天盖地的广告宣传最终嫁接到消费者头上。现在，品牌商把广告费用在消费者手上，只要你消费，我就给你返利，你就会主动去帮我宣传，我省下了广告费，你赚到了推广费。</p>
			</div>
		</div>
	</div>
</section>
<section class="slider margin-bottom-1" data-ride="slider">
	<!-- Carousel items -->
	<div class="slider-inner">
		<div class="item">
			<img src="~/Content/Images/Home/Index/slider/1.jpg">
		</div>
	</div>
</section>
<section>
    <div class="container-responsive">
        <ul class="says-list">
            <li class="says">
                <img class="says-content-quote" src="~/Content/frame/canknow/image/quote.png">
                <p class="says-content">我从小就喜欢做手工，现在卖的都是自己做的手工配饰，希望未来能做属于自己的品牌。</p>
                <div class="profileItem">
                    <div class="profileItemAvatarBox">
                        <img width="64" class="profileTtemAvatar imageCircle" src="~/Content/Images/avatar.jpg">
                    </div>
                    <div class="profileItemBody">
                        <h5 class="profileItemName">canknow</h5>
                        <h5 class="profileItemAdditionalProperty">3230525823@qq.com</h5>
                    </div>
                </div>
            </li>
            <li class="says">
                <img class="says-content-quote" src="~/Content/frame/canknow/image/quote.png">
                <p class="says-content">开店后时间更加自由，陪伴儿子的时间很多，同时让我觉得自己并没有因为怀孕生子而和社会脱节。</p>
                <div class="profileItem">
                    <div class="profileItemAvatarBox">
                        <img width="64" class="profileTtemAvatar imageCircle" src="~/Content/Images/avatar.jpg">
                    </div>
                    <div class="profileItemBody">
                        <h5 class="profileItemName">canknow</h5>
                        <h5 class="profileItemAdditionalProperty">3230525823@qq.com</h5>
                    </div>
                </div>
            </li>
            <li class="says">
                <img class="says-content-quote" src="~/Content/frame/canknow/image/quote.png">
                <p class="says-content">村里的苹果到季节了，在微店100小时就售出8000份，32000斤，感受到微店的威力，感谢微店！</p>
                <div class="profileItem">
                    <div class="profileItemAvatarBox">
                        <img width="64" class="profileTtemAvatar imageCircle" src="~/Content/Images/avatar.jpg">
                    </div>
                    <div class="profileItemBody">
                        <h5 class="profileItemName">canknow</h5>
                        <h5 class="profileItemAdditionalProperty">3230525823@qq.com</h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section>
    <div class="banner-box">
        <img class="width-full" src="~/Content/Images/Home/Index/banner-1.jpg"/>
    </div>
</section>
<section class="block-transparent padding-1">
    <div class="container-responsive">
        <div class="row margin-bottom-20">
            <div class="column-6 margin-bottom-20">
                <h2>Canknow微分销 帮您实现业绩爆炸式增长</h2>
                <p>以此类推，这就是我们所说的三级分销模式。发发链接、二维码即可赚大钱！我们的朋友圈一般有300人左右，如果按照3%的概率计既有10人购买计算，则最高可获3万多收益！这就是微商来“微分销系统”的超凡魅力！</p>
                <h2>告别锁屏、告别囤货、告别无流量、微商赚钱另有门道。</h2>
				<p>轻松实现让店员、零售人员、朋友圈为您分销产品，可实现多级裂变分销的店中店系统，轻松占领市场。</p>
            </div>
            <div class="column-4 margin-bottom-20">
                <a href="index.html"><img src="~/Content/Images/Home/Index/distributionPicture.jpg" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="column-4">
                <a href="index.html"><img src="~/Content/Images/Home/Index/system.jpg" alt=""></a>
            </div>
            <div class="column-6 margin-bottom-20">
                <h2>收入自动结算，实时自动提现</h2>
                <p>交易完成后，订单利润由系统自动结算。钱包零钱将自动提现至您的微信钱包。如果提现处理失败，系统将每隔2小时重新提现直至成功处理。</p>
			</div>
        </div>
    </div>
	<hr>
	<section class="row text-center">
		<div class="column-2-5 padding-1">
			<img width="96" src="~/Content/Images/Home/Index/distribution.png" />
			<h3><a href="#">微分销商城</a></h3>
			<p>系统可以设定多级分销，理论上不限层级。不过一般设定为3级分销。</p>
		</div>
		<div class="column-2-5 padding-1">
			<img width="96" src="~/Content/Images/Home/Index/withDraw.png" />
			<h3><a href="#">返利实时自动提现</a></h3>
			<p>系统的任何一笔返利将在用户付款或者订单完成时候触发（可以设置返利时机），并且自动将该用户零钱剩余全额提现至微信钱包。</p>
		</div>
		<div class="column-2-5 padding-1">
			<img width="96" src="~/Content/Images/Home/Index/channel.png" />
			<h3><a href="#">无限代渠道代理</a></h3>
			<p>系统可以开通渠道代理功能。用户申请成为渠道代理商后，从该用户发展的无限层客户下单付款后，该代理均可获得设定金额的分红。</p>
		</div>
		<div class="column-2-5 padding-1">
			<img width="96" src="~/Content/Images/Home/Index/globalRebate.png" />
			<h3><a href="#">全局分红</a></h3>
			<p>系统可以设置若干微信参与全局分红，每笔订单该用户将获得设定金额的分红。</p>
		</div>
	</section>
</section>