<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body ng-app="app" class="height-full vertical-flex-box">
    <div class="page vertical-flex-inherit" ng-controller="app.home.layout as vm">
        @Html.Action("Header", "Layout", new { currentPageName = ViewBag.CurrentPageName })
        <div class="page-content vertical-flex-inherit">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>
</body>
</html>