<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body ng-app="app" class="gray-body height-full">
    <div class="page" ng-controller="app.mobile.layout as vm">
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>