<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body ng-app="app" class="gray-body height-full vertical-flex-box">
    <div class="page vertical-flex-inherit" ng-controller="app.mobile.layout as vm">
        @Html.Action("Header", "Layout",new { PageTitle=ViewBag.PageTitle})
        <div class="page-content vertical-flex-inherit">
            @RenderBody()
        </div>
        @Html.Partial("../Layout/FooterNav")
    </div>
</body>
</html>