<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body ng-app="app" class="gray-body height-full">
    <div class="page height-full" ng-controller="app.mobile.layout as vm">
        <div class="page-content">
            @RenderBody()
        </div>
        @Html.Partial("../Layout/FooterNav")
    </div>
</body>
</html>