<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Default" connectionString="Server=(LocalDB)\MSSQLLocalDB; Integrated Security=true ;AttachDbFileName=|DataDirectory|shop.mdf" providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Server=39.108.129.201; Database=beimi; User Id = sa;Password = Lianhubo-;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Default" connectionString="Server=localhost; Database=Shop; User Id = sa;Password = lianhubo;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Igo" connectionString="Server=39.108.129.201; Database=Shop; User Id = sa;Password = Lianhubo13-;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Default" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\Shop.mdf; Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="recaptchaPublicKey" value="6LfD-wUTAAAAACULAVXvL61K0w02RIsjhI8EyiS-" />
    <add key="recaptchaPrivateKey" value="6LfD-wUTAAAAADm3h7vomd9FtaAlAwexki29BtXC" />
    <add key="recaptchaApiVersion" value="2" />
    <add key="recaptchaPublicKey" value="" />
    <add key="recaptchaPrivateKey" value="" />
    <add key="recaptchaApiVersion" value="1" />

    <add key="App.General.Name" value="Canknow" />
    <add key="App.General.Logo" value="/Content/Images/logo.png" />
    <add key="App.General.TitleLogo" value="/Content/Images/title-logo.png" />

    <add key="Wechat.General.Token" value="weixin" />
    <add key="Wechat.General.AppId" value="" />
    <add key="Wechat.General.Secret" value="" />
    <add key="Wechat.General.EncodingAESKey" value="" />

    <add key="Wechat.Pay.MchId" value="" />
    <add key="Wechat.Pay.Key" value="" />

    <add key="Shop.General.Name" value="YourShopName" />
    <add key="Shop.General.Logo" value="/Content/Images/shop-logo.png" />
    
    <add key="Shop.Share.SharePicture" value="/Content/Images/shop-logo.png" />
    
    <add key="Shop.General.DecreaseStockWhen" value="Create" />
    <add key="Shop.Order.AutoReceiveLimit" value="604800" />
    <add key="Shop.Order.OverTimeForDelete" value="7200" />
    <add key="Shop.Order.ShouldHasParentForBuy" value="true" />
    <add key="Shop.Distribution.RebateGuarantee" value="true" />
    <add key="Shop.Distribution.DistributionWhen" value="Payed" />
    <add key="Shop.Distribution.AutoWithdraw" value="false" />
    <add key="Shop.Distribution.AutoPayForWithdraw" value="false" />
    
    <add key="Spread.General.UpgradeOrderMoney" value="298" />
    <add key="Spread.General.EnableSalesOfSelf" value="false" />
    <add key="Spread.General.MustBeSpreaderForSpread" value="true" />
    <add key="Spread.General.MustBeAgencyToGetSpreadPoster" value="true" />
    
    <add key="Wechat.TemplateMessage.NewCustomer" value="6rsZpGxfoq_GnCEbOc0P0wWugmRr444Lsg0U_apsAwM" />
    <add key="Wechat.TemplateMessage.OrderCreated" value="OFJa2cAgd1pO766htxw4OMGAmTJXCu21igAjJ1ITtA0" />
    <add key="Wechat.TemplateMessage.OrderPayed" value="-GV19T5QWa-BLo4q19S_7mSWP1jd2ZUQyLCIV1N4kM4" />
    <add key="Wechat.TemplateMessage.OrderShiped" value="0yHrx1MwAFw8v9rnuXW57n5PVpLSLRTOHwen7lmWkn0" />
    <add key="Wechat.TemplateMessage.OrderRebate" value="dpGkVmQmowPfSSvMZwyC7gYPid2XoROnVBSTgHPxzVk" />
    <add key="Wechat.TemplateMessage.WalletWithdraw" value="efSX4NKYqD_rne-XB_fCCoN7d4HNH9vedEU-SeZTn_I" />
    <add key="Wechat.TemplateMessage.Upgrade" value="yEpdFhLTWWz8EqIlZzW7RIAa3UENk0cnAa8laWK86pU" />
  </appSettings>
  <system.web>
    <globalization culture="auto" uiCulture="auto" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <httpRuntime targetFramework="4.5.2" fcnMode="Single" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="~/Error/E403" />
      <error statusCode="404" redirect="~/Error/E404" />
      <error statusCode="500" redirect="~/Error/E500" />
    </customErrors>
  <httpModules>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </httpModules></system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" /></modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 不应用发行者策略配置 -->
      <publisherPolicy apply="no" />
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.36.0" newVersion="1.1.36.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Facilities.Logging" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.DynamicFilters" publicKeyToken="146423a1b8d60775" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>