<div ng-controller="app.manager.user.heatMap as vm">
    <div class="row">
        <div class="column-10">
            <div class="portlet box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-calendar"></i>@L("UsersHeatMap")
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body no-padding">
                    <div id="map" class="height-em40"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href='~/Scripts/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />
<script src='~/Scripts/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>